# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
.venv/
venv/
env/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Variables de entorno
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
